<!DOCTYPE html>
<html>
<head>
    <title>Triagem de Currículos</title>
</head>
<body>

<h1>Triagem de Currículos</h1>

banco">Ir para Banco de Currículos</a>

/processar

    <h3>Título da vaga</h3>
    <input type="text" name="job_title" required style="width:300px">

    <h3>Descrição da vaga</h3>
    <textarea name="job_profile" rows="10" cols="80" required></textarea>

    <h3>Envie os currículos</h3>
    <input type="file" name="resumes" multiple required>

    <br><br>
    <button type="submit">Analisar currículos</button>

</form>

</body>
</html>
