<!DOCTYPE html>
<html>
<head>
    <title>Resultados</title>
</head>
<body>

<h1>Resultado da Análise</h1>

/Nova análise</a> |
banco">Banco de Currículos</a>

<br><br>

ar" method="POST">
    <input type="hidden" name="results_json" value='{{ results|tojson }}'>
    <button type="submit">Exportar Excel</button>
</form>

<br>

/salvar_banco
    <input type="hidden" name="results_json" value='{{ results|tojson }}'>
    <button type="submit">Salvar no banco</button>
</form>

<br><br>

<table border="1" cellpadding="5">
    <tr>
        <th>Vaga</th>
        <th>Nome</th>
        <th>WhatsApp</th>
        <th>Email</th>
        <th>LinkedIn</th>
        <th>Score</th>
        <th>Status</th>
        <th>Justificativa</th>
    </tr>

    {% for r in results %}
    <tr>
        <td>{{ r.vaga }}</td>
        <td>{{ r.nome }}</td>
        <td>{{ r.whatsapp }}</td>
        <td>{{ r.email }}</td>

        <td>
            {% if r.linkedin and r.linkedin != "Não encontrado" %}
                {{ r.linkedin }}>
            {% else %}
                -
            {% endif %}
        </td>

        <td>{{ r.score }}</td>
        <td>{{ r.status }}</td>
        <td>{{ r.justificativa }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>
